<template>
  <div id="app">
      <div v-for="(item, index) in form" :key="index" style="margin-bottom: 10px">
          <input type="number" v-model="item[0]">
          <input type="number" v-model="item[1]">
      </div>
      <button @click="form.push([0, 0])">{{ form.length === 0 ? 'задать входные данные' : 'добавить точку' }}</button>
      <button v-if="form.length >= 4" @click="formCheck()">обработать</button>
      <line-chart v-if="output !== undefined" :chart-data="chartData" :options="options"></line-chart>
      {{ output }}
  </div>
</template>

<script>
import LineChart from "./components/LineChart";

export default {
  name: 'App',
    components: {
        LineChart
    },

    data() {
        return {
            form: [],
            data: '',
            permutations: '',
            output: undefined,
            chartData: {},
            options: {
                responsive: true,
                maintainAspectRatio: false,
                tooltips: {
                    enabled: true,
                    mode: 'single',
                    callbacks: {
                        label: (tooltipItems) => (
                            (this.data.findIndex(item => item === tooltipItems.xLabel + ';' + tooltipItems.yLabel) + 1) + ': ' + tooltipItems.xLabel + ',' + tooltipItems.yLabel
                        )
                    }
                },
            },
        }
    },
    methods: {
        async getJson() {
            const data = await(await fetch('input.json')).json();
            this.data = data.data;
            this.check(this.data);
        },

        formCheck() {
            this.$nextTick(() => {
                this.data = this.form.map(item => item[0] + ';' + item[1]);
                this.check(this.data);
            });
        },

        check(arr) {
            let vm = this;
            vm.permutations = Array.from(new Set(vm.permutation(arr)));
            vm.output = vm.permutations.find(item => {
                let error = false;
                for (let i = 0; i < item.length - 3; i++) {

                    for (let y = i + 2; y < item.length - 1; y++) {
                        let a = item[i].split(';');
                        let b = item[i + 1].split(';');
                        let c = item[y].split(';');
                        let d = item[y + 1].split(';');
                        let inter = vm.intersects(
                            parseFloat(a[0]),
                            parseFloat(a[1]),
                            parseFloat(b[0]),
                            parseFloat(b[1]),
                            parseFloat(c[0]),
                            parseFloat(c[1]),
                            parseFloat(d[0]),
                            parseFloat(d[1])
                        )
                        if (inter) {
                            error = true;
                            break;
                        }
                    }

                    if (error) {
                        break;
                    }
                }

                return !error;
            });
            if (vm.output != undefined) vm.showLine();
            else vm.output = 'Не найдено значений';
        },

        showLine() {
            this.chartData = {
                datasets: [{
                    label: "Отрезки",
                    borderColor: 'black',
                    fill: false,
                    tension: 0,
                    showLine: true,
                    data: this.output.map(item => {
                        let temp = item.split(';');
                        return {
                            x: parseFloat(temp[0]),
                            y: parseFloat(temp[1])
                        }
                    })
                }]
            }
        },

        permutation(xs) {
            let ret = [];

            for (let i = 0; i < xs.length; i = i + 1) {
                let rest = this.permutation(xs.slice(0, i).concat(xs.slice(i + 1)));

                if(!rest.length) {
                    ret.push([xs[i]])
                } else {
                    for(let j = 0; j < rest.length; j = j + 1) {
                        ret.push([xs[i]].concat(rest[j]))
                    }
                }
            }
            return ret;
        },

        intersects(a,b,c,d,p,q,r,s) {
            let det, gamma, lambda;
            det = (c - a) * (s - q) - (r - p) * (d - b);
            if (det === 0) {
                return false;
            } else {
                lambda = ((s - q) * (r - a) + (p - r) * (s - b)) / det;
                gamma = ((b - d) * (r - a) + (c - a) * (s - b)) / det;
                return (0 <= lambda && lambda <= 1) && (0 <= gamma && gamma <= 1);
            }
        }
    },
    mounted() {
        this.getJson();
    }
}
</script>
